<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row' id="search">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]='listFilter'>
      </div>
    </div>
    <div class='row'
         *ngIf='listFilter'>
      <div class='col-md-6'>
        <h5>Results for "{{listFilter}}"</h5>
      </div>
    </div>
    <div>
      <table class='table'
             *ngIf='movies.length'>
        <thead>
          <tr>
            <th class='imageBtn'>
              <button class='btn btn-primary' 
                      style='white-space: nowrap;'
                      (click)='toggleImage()'>
                {{showImage ? 'Hide' : 'Show'}} Poster
              </button>
            </th>
            <th><a [routerLink]='' (click)='sortByName()'>Name</a></th>
            <th><a [routerLink]='' (click)='sortByYear()'>Year</a></th>
            <th><a [routerLink]='' (click)='sortByTitleType()'>Title Type</a></th>
            <th><a [routerLink]='' (click)='sortByDirector()'>Director</a></th>
            <th><a [routerLink]='' (click)='sortByIMDbRating()'>IBDb Rating</a></th>
            <th><a [routerLink]='' (click)='sortByDateWatched()'>Date Watched</a></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let movie of filteredMovies'>
            <td>
              <img *ngIf='showImage'
                   [src]='movie.imageUrl'
                   [title]='movie.name'
                   [style.width.px]='imageWidth'
                   [style.margin.px]='imageMargin'>
            </td>
            <td>
              <a [routerLink]="['/movies', movie.id]">
                {{ movie.name }}
              </a>
            </td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.titleType }}</td>
            <td>{{ movie.director }}</td>
            <td>
              <pm-star [rating]='movie.imdbRating'
                       (ratingClicked)='onRatingClicked(movie.name, $event)'>
              </pm-star>
            </td>
            <td>{{ movie.dateWatched }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
